@charset "UTF-8";

@media (max-width: 980px) {

    /* HEADER */
    header nav.menu-desktop {
        display: none;
    }


    /* HOME */
    .home #texto-home h1 {
        font-size: 50px;
        letter-spacing: 3px;
        text-shadow: 0px 0px 10px #000000e4;
    }

    .home #texto-home h2 {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 6px;
    }


    /* CARDÁPIO */
    .menu .container-menu {
        flex-flow: column nowrap;
        justify-content: center;
    }

    .menu .item-menu {
        display: flex;
        margin: 50px 0;
    }

    .menu .item-menu .descricao h2 {
        font-size: 25px;
    }

    .menu .item-menu .descricao p {
        margin-top: 20px;
    }


    /* GALERIA */
    .galeria .container-fotos figure::after {
        height: 98.7%;
    }


    /* CONTATO */
    .contato .container-contact {
        flex-flow: column nowrap;
    }

    .contato .container-contact .info-contact .buttons-group {
        margin: 30px 0;
    }



    /* RODAPÉ */
    footer {
        font-size: 14px;
    }

    footer .interface {
        flex-flow: column nowrap;
        align-items: center;
        gap: 5px;
    }

    footer p {
        text-align: center;
    }

}