@charset "UTF-8";

/* TIPOGRAFIA */
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poiret+One&display=swap');


/* PALETA DE CORES */
:root {
    --preto: #0A0A0A;
    --amarelo: #E5BF4A;
    --branco: #FFFFFF;
}


/* ESTILIZAÇÃO GERAL */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Jost', sans-serif;
    color: #FFFFFF;
}

body {
    background-color: #0A0A0A;
}

h1 {
    font-family: 'Poiret One', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 40px;
}

section {
    padding: 60px 10%;
}

.flex {
    display: flex;
}

.botao {
    padding: 20px 30px;

    border: 1px solid #E5BF4A;
    background-color: #E5BF4A;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    color: #0A0A0A;
    transition: .3s;
}

.botao:hover {
    background: transparent;
    color: #E5BF4A;
    transform: scale(1.02);
}

/* CABEÇALHO */
header .cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 30px 50px;
}

.cabecalho .social i {
    font-size: 15px;
    margin: 10px;
    transition: .3s;
}

.cabecalho .social i:hover {
    color: #E5BF4A;
}

.cabecalho .contato a {
    padding: 10px 20px;
    border: 1px solid #E5BF4A;
    text-decoration: none;
    color: #E5BF4A;
    font-size: 18px;
    transition: .5s;
}

.cabecalho .contato a:hover {
    background-color: #E5BF4A;
    color: #FFFFFF;
}

.menu-desktop {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.menu-desktop a {
    position: relative;
    padding-bottom: 15px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    transition: .3s;
}

.menu-desktop a:hover {
    color: #E5BF4A;
    border-bottom: 1px solid #E5BF4A;
}

/* HOME */
section.home {
    display: flex;
    align-items: center;
    height: 100vh;

    background-image: url(imagens/banner-inicio.png);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
}

.home .txt h1 {
    text-align: left;
    margin-bottom: 40px;
    font-size: 70px;
    font-weight: 300;
}

/* ABOUT */
section.about {
    padding: 60px 17%;
}

.about .flex {
    align-items: center;
    margin-top: 60px;
    gap: 30px;
}

.about .txt h2 {
    font-family: "Poiret One";
    font-size: 24px;
    color: #E5BF4A;
    font-weight: 300;
    margin-bottom: 30px;
}

.about .txt p {
    margin-bottom: 20px;
    font-weight: 300;
}


/* CAKES */
section.cakes {
    padding: 60px 6%;
    display: flex;
    align-items: center;
}

.cakes .arrow {
    color: #E5BF4A;
    opacity: 0.5;
    font-size: 30px;
    cursor: pointer;
    transition: .3s;
}

.cakes .arrow:hover {
    opacity: 1;
}

.cakes .slider {
    overflow: hidden;
}

.cakes .slider .flex {
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.cakes .slider .txt .nome {
    font-family: "Poiret One", sans-serif;
    font-size: 24px;
    margin: 10px 0px;
}

.cakes .slider .txt .preco {
    font-size: 20px;
    font-weight: 300;
    color: #E5BF4A;
}

/* BLOG */
section.blog {
    padding: 60px 0%;
}

.blog .title-blog {
    justify-content: space-between;
    align-items: center;
    padding: 120px 8%;
}

.blog .box-blog .txt {
    border: 1px solid rgba(255, 255, 255, 0.233);
    height: 370px;
    padding: 30px;
}

.blog .box-blog .txt h2 {
    font-family: "Poiret One", sans-serif;
    color: #E5BF4A;
    font-size: 24px;
    font-weight: 600;
}

.blog .box-blog .txt p {
    margin: 20px 0px;
    font-weight: 300;
}

.blog .box-blog .txt a {
    border-bottom: 2px solid #E5BF4A;
    padding-bottom: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #E5BF4A;
    transition: .5s;
}

.blog .box-blog .txt a:hover {
    letter-spacing: 1px;
}