@charset "UTF-8";

@media screen and (max-width: 1200px) {

    /* HEADER */
    header {
        padding-left: 10px;
        padding-right: 60px;
        width: 100vw;
    }

    header nav.menu-desktop {
        display: none;
    }

    header .btn-menu-mobile {
        display: block;
    }



    /* HOME */
    .home .texto-home {
        width: 100%;
    }

    .home .texto-home h1 {
        font-size: 3.7em;
        letter-spacing: 2px;
    }

    .home .texto-home h2 {
        font-size: 16px;
        letter-spacing: 7px;
    }



    /* CARDÁPIO */
    .cardapio .content {
        flex-direction: column;
    }

    .cardapio .card {
        width: 60%;
    }
}



@media screen and (max-width: 900px) {

    /* CONTATO */
    .contato .content {
        flex-direction: column-reverse;
    }

    .contato .formulario {
        width: 100%;
        border: 0;
        padding: 0;
        margin-bottom: 50px;
    }

    .contato .info {
        width: 100%;
    }
}



@media screen and (max-width: 700px) {

    /* CARDÁPIO */
    .cardapio .card {
        width: 100%;
    }



    /* PERGUNTAS FREQUENTES */
    .faq .content {
        flex-direction: column;
    }

    .faq .perguntas {
        position: static;
        margin: 30px 0;
    }
}