@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --salmon: #F29456;
    --fundo-cardapio: #E3E3E3;
    --fundo-galeria: #36312B;
    --fundo-faq: #36312B;
    --fundo-contato: #F29456;
}


/* ESTILIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.interface {
    max-width: 1280px;
    padding: 0 5%;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

.title-section {
    text-transform: uppercase;
    color: #F29456;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 50px;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #fff;
}

header nav.menu-desktop a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #36312bc9;
    padding: 42px 15px;
}

header nav.menu-desktop a:hover {color: #F29456;}

header nav.menu-desktop a:hover::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #F29456;
    width: 100%;
    height: 5px;
}

header .btn-menu-mobile {
    display: none;
}

header nav.menu-mobile {
    display: none;
}


/* HOME */
.home {
    position: relative;
    background: url('../img/banner-home.jpg') no-repeat center center;
    background-size: cover;
    height: 85vh;
}

.home .texto-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.home .texto-home h1 {
    font-size: 80px;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #00000085;
}

.home .texto-home h2 {
    font-size: 18px;
    letter-spacing: 10px;
    font-weight: 400;
    text-shadow: 0 0 10px #00000085;
}


/* CARDÁPIO */
.cardapio {
    background-color: var(--fundo-cardapio);
}

.cardapio .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.cardapio .card {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 400px;
    background-color: #000;
}

.cardapio .card .fundo-card img {
    width: 110%;
    height: 100%;
    opacity: 0.5;
    transition: .7s;
}

.cardapio .card:hover .fundo-card img {
    opacity: 0.2;
}

.cardapio .card .title-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    transition: .7s;
}

.cardapio .card:hover .title-card {
    top: 30%;
}

.cardapio .card .title-card h2 {
    position: relative;
    font-size: 30px;
    font-weight: 300;
}

.cardapio .card .title-card h2::after {
    content: "";
    display: block;
    background-color: #F29456;
    width: 100%;
    height: 1px;
    margin: 10px 0;
    transition: .7s;
}

.cardapio .card:hover .title-card h2::after {
    height: 10px;
}

.cardapio .card .title-card p {
    font-weight: 300;
    font-style: italic;
}

.cardapio .card .info-card {
    display: block;
    position: absolute;
    bottom: -20px;
    opacity: 0;
    width: 100%;
    padding: 0 30px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    transition: .7s;
}

.cardapio .card:hover .info-card {
    bottom: 20%;
    opacity: 1;
}

.cardapio .card .info-card p {
    margin-bottom: 20px;
}

.cardapio .card .info-card a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #F29456;
    padding: 5px 15px;
    border-radius: 30px;
    transition: .2s
}

.cardapio .card .info-card a:hover {
    background-color: #36312B;
}