@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --salmon: #F29456;
    --fundo-cardapio: #E3E3E3;
    --fundo-galeria: #36312B;
    --fundo-faq: #EFEFEF;
    --fundo-contato: #F29456;
}


/* ESTILIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.interface {
    max-width: 1280px;
    padding: 0 5%;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

.title-section {
    text-transform: uppercase;
    color: #F29456;
    text-align: center;
    letter-spacing: 2px;
    margin-bottom: 50px;
}


/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10%;
    background-color: #fff;
}

header nav.menu-desktop a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #36312bc9;
    padding: 42px 15px;
}

header nav.menu-desktop a:hover {color: #F29456;}

header nav.menu-desktop a:hover::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    background-color: #F29456;
    width: 100%;
    height: 5px;
}

header .btn-menu-mobile {
    display: none;
}

header nav.menu-mobile {
    display: none;
}


/* HOME */
.home {
    position: relative;
    background: url('../img/banner-home.jpg') no-repeat center center;
    background-size: cover;
    height: 85vh;
}

.home .texto-home {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.home .texto-home h1 {
    font-size: 80px;
    letter-spacing: 3px;
    text-shadow: 0 0 10px #00000085;
}

.home .texto-home h2 {
    font-size: 18px;
    letter-spacing: 10px;
    font-weight: 400;
    text-shadow: 0 0 10px #00000085;
}


/* CARDÁPIO */
.cardapio {
    background-color: var(--fundo-cardapio);
}

.cardapio .content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.cardapio .card {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    width: 100%;
    height: 400px;
    background-color: #000;
    box-shadow: 0 0 10px #00000047;
}

.cardapio .card .fundo-card img {
    width: 110%;
    height: 100%;
    opacity: 0.5;
    transition: .7s;
}

.cardapio .card:hover .fundo-card img {
    opacity: 0.2;
}

.cardapio .card .title-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    transition: .7s;
}

.cardapio .card:hover .title-card {
    top: 30%;
}

.cardapio .card .title-card h2 {
    position: relative;
    font-size: 30px;
    font-weight: 300;
}

.cardapio .card .title-card h2::after {
    content: "";
    display: block;
    background-color: #F29456;
    width: 100%;
    height: 1px;
    margin: 10px 0;
    transition: .7s;
}

.cardapio .card:hover .title-card h2::after {
    height: 10px;
}

.cardapio .card .title-card p {
    font-weight: 300;
    font-style: italic;
}

.cardapio .card .info-card {
    display: block;
    position: absolute;
    bottom: -20px;
    opacity: 0;
    width: 100%;
    padding: 0 30px;
    color: #fff;
    text-align: center;
    font-weight: 300;
    transition: .7s;
}

.cardapio .card:hover .info-card {
    bottom: 20%;
    opacity: 1;
}

.cardapio .card .info-card p {
    margin-bottom: 20px;
}

.cardapio .card .info-card a {
    text-decoration: none;
    font-size: 14px;
    color: #fff;
    background-color: #F29456;
    padding: 5px 15px;
    border-radius: 30px;
    transition: .2s
}

.cardapio .card .info-card a:hover {
    background-color: #36312B;
}


/* GALERIA DE FOTOS */
.galeria {
    background-color: var(--fundo-galeria);
}

.galeria .interface {
    max-width: 1500px;
}

.galeria .content {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.galeria figure {
    position: relative;
    background-color: #000;
    border: 2px solid #000;
    border-radius: 10px;
    color: #fff;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 1;
    overflow: hidden;
}

.galeria figure:hover img {
    opacity: 0.3;
}

.galeria figure:hover i {
    opacity: 1;
    top: 50%;
}

.galeria figure i {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    font-size: 2em;
    opacity: 0;
    transition: .3s;
}

.galeria figure img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: .3s;
}



/* PERGUNTAS FREQUENTES */
.faq {
    background-color: var(--fundo-faq);
}

.faq .content {
    position: relative;
    display: flex;
    align-items: center;
    margin: 50px 0;
}

.faq .foto-faq img {
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 5px #00000030;
}

.faq .perguntas {
    position: absolute;
    max-width: 800px;
    left: 300px;
    border-radius: 10px;
    background-color: #fff;
}

.faq .perguntas li {
    position: relative;
    margin: 20px 30px
}

.faq .perguntas li h2 {
    font-size: 18px;
    font-weight: 500;
    padding: 0 40px 10px 0;
    color: #9f9f9f;
    border-bottom: 1px solid #e9e9e9;
}

.faq .perguntas li span {
    position: absolute;
    top: 0;
    right: 5px;
    color: #9f9f9f;
    cursor: pointer;
}

.faq .perguntas li span.active {
    color: #F29456;
}

.faq .perguntas li p {
    display: none;
    padding-top: 10px;
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 300;
}

.faq .perguntas li p.active {
    display: block;
}