@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: gray;
    color: #fff;
    padding: 10px;
}

header h1 {
    border: 1px dotted #000;
}

header nav {
    border: 1px dotted #000;
}

main {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #00000052;
}