@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    background-color: lightgrey;
    height: 100vh;
    width: 100vw;
}

header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;

    background-color: gray;
    color: #fff;
    padding: 10px;
}

header h1 {
    flex: 0 0 200px;
    text-shadow: 1px 1px 0px #00000072;
}

header nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

header nav a {
    background-color: #000;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    transition: background-color .5s;
}

header nav a:hover {
    background-color: #fff;
    color: #000;
}

main {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #00000052;
}