@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --amarelo: #FEB600;
    --verde: #05B663;
    --vermelho: #FE5A45;
}


/* ESTILIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    position: relative;
    height: 100vh;
}



/* HEADER */
header {
    background-color: #FEB600;
    padding: 20px 0;
}

header h1 {
    text-align: center;
    font-weight: lighter;
}

header h1 span {
    font-weight: 700;
}



/* MAIN */
main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 1200px;
    height: 500px;

    padding: 40px;

    border-radius: 10px;
    box-shadow: 0 0 10px #00000029;
}

.btn-cadastrar {
    border: none;
    outline: none;
    padding: 10px 20px;

    border-radius: 3px;
    font-size: 16px;
    background-color: #12ACFF;
    color: #fff;
    cursor: pointer;
    transition: .3s;
}

.btn-cadastrar:hover {
    background-color: #0f8dd1;
}

.tb-cadastros {
    width: 100%;
    margin-top: 30px;
}

.tb-cadastros thead {
    background-color: #FEB600;

}

.tb-cadastros thead th {
    padding: 10px;
}

.tb-cadastros tbody td {
    padding: 10px 0;
}

.tb-cadastros button {
    border: none;
    outline: none;
    background-color: #000;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    transition: .2s;
}

.tb-cadastros button.edit {background-color: #05B663;}
.tb-cadastros button.delete {background-color: #FE5A45;}

.tb-cadastros button:hover {
    opacity: 0.7;
}