@charset "UTF-8";

@font-face {
    font-family: "Open Sans";
    src: url(fontes/OpenSans-VariableFont_wdth\,wght.ttf);
}

body {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

section {
    padding: 15px;
    background-color: #293E82;
    text-align: right;
}

section a {
    text-decoration: none;
    color: white;
    font-weight: 100;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

header img {
    width: 181px;
    height: 50px;
}

header nav {
    display: inline-block;
    margin: 30px;
}

header nav a {
    margin-right: 25px;
    font-size: 13px;
    text-decoration: none;
    color: #293E82;
    font-weight: bold;
}

div#um {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F57F20;
    padding: 40px 0px 0px 0px;
}

div#um div#imagens #img1 {
    display: block;
    width: 329px;
    height: 167px;
}

div#um div#imagens #img2 {
    width: 360px;
    height: 324px;
    margin-top: 30px;
}

div#um div#textos {
    margin-left: 50px;
}

div#um div#textos p {
    font-weight: 900;
    font-size: 40px;
    color: #293E82;
    line-height: 40px;
    margin-bottom: 20px;
}

div#um div#textos h3 {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    font-weight: 800;
    margin: 0;
}

div#um div#textos h4 {
    text-transform: uppercase;
    color: #293E82;
    font-size: 25px;
    margin-bottom: 0;
}

div#um div#textos h1 {
    text-transform: uppercase;
    color: white;
    font-size: 70px;
    margin-top: -15px;
    letter-spacing: -3px;
}

div#um div#textos a {
    padding: 10px 50px;
    border-radius: 30px;
    background-color: #293E82;
    text-transform: uppercase;
    color: white;
    text-decoration: none;
    font-size: 25px;
}