@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: darkgreen;
    
    /* grid-row: 1 / 2;
    grid-column: 1 / -1; */

    grid-area: 1 / 1 / 2 / -1;
}

.caixa2 {
    background-color: blue;

    /* grid-row: 2 / -1;
    grid-column: 1 / 3; */

    grid-area: 2 / 1 / -1 / 3;
}

.caixa3 {
    background-color: gold;

    /* grid-row: 2 / -1;
    grid-column: 3 / -1; */

    grid-area: 2 / 3 / -1 / -1;
}