@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

/* ESTILIZAÇÃO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Source Sans 3", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

/* HEADER */
header {
    position: fixed;
    background: url('../img/bg.jpg') no-repeat center left;
    background-size: cover;

    padding: 50px;
    width: 35%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    .presentation, .social {
        position: relative;
        z-index: 999;
        color: #fff;
        text-align: right;
    }

    .presentation .avatar img {
        border-radius: 50%;
        margin-bottom: 20px;
    }

    .presentation .bio {
        font-size: 22px;
        max-width: 350px;
        line-height: 1.8em;
        color: #ccc;
    }

    .presentation .bio span {
        color: #fff;
    }

    .presentation .bio a {
        position: relative;
        text-decoration: none;
        color: #ccc;
        transition: .3s;
    }

    .presentation .bio a::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #ccc;
        opacity: 1;
        transition: .1s;
    }

    .presentation .bio a:hover {
        color: #fff;
        border: none;
    }

    .presentation .bio a:hover::after {
        opacity: 0;
    }

    .social a {
        text-decoration: none;
        color: #ccc;
        font-size: 1.5em;
        opacity: 0.5;
        margin: 10px;
        transition: .3s;
    }

    .social a:hover {
        color: #fff;
        opacity: 1;
    }
}

header::after {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 10;
    background-color: #000;
    opacity: 0.3;
}


/* PRINCIPAL */
main {
    background-color: #fff;
}