@charset "UTF-8";

body {
    background-color: rgba(0, 100, 0, 0.453);
    font-family: "Open Sans";
}

h1 {
    font-weight: 700;
}

#menu {
    background-color: rgba(0, 100, 0, 0.691);
    padding: 3px;
}

#menu ul {
    padding: 0;
    list-style: none;
    text-align: center;
}

#menu ul li {
    margin-right: 0px;
    display: inline;
}

#menu ul li a {
    text-decoration: none;
    padding: 19px;
    color: white;
}

#menu ul li a:hover {
    background-color: rgba(0, 100, 0, 0.453);
}

#conteudo {
    background-color: white;
    padding: 15px 40px;
    border-radius: 15px;
    width: 600px;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 500px;
}

p {
    text-align: justify;
}