@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

    height: 100dvh;
    background-image: linear-gradient(to right, #F95A08, #FE9A0A);
}

.board {
    height: 300px;
    width: 300px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.board.x .cel:not(.x):not(.circle):hover::before,
.board.x .cel:not(.x):not(.circle):hover::after {
    opacity: 0.3;
}

.cel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    cursor: pointer;
}

.cel.circle,
.cel.x {
    cursor: not-allowed;
}

.cel:nth-child(2),
.cel:nth-child(1),
.cel:nth-child(3) {
    border-top: none;
}

.cel:nth-child(1),
.cel:nth-child(4),
.cel:nth-child(7) {
    border-left: none;
}

.cel:nth-child(3),
.cel:nth-child(6),
.cel:nth-child(9) {
    border-right: none;
}

.cel:nth-child(7),
.cel:nth-child(8),
.cel:nth-child(9) {
    border-bottom: none;
}


/* CÉLULA X */
.cel.x::before,
.cel.x::after, 
.board.x .cel:not(.x):not(.circle):hover::before,
.board.x .cel:not(.x):not(.circle):hover::after {
    content: "";
    position: absolute;
    height: 10px;
    width: 80%;
    background-color: #fff;
}

.cel.x::before,
.board.x .cel:not(.x):not(.circle):hover::before {
    transform: rotate(-45deg);
}

.cel.x::after,
.board.x .cel:not(.x):not(.circle):hover::after {
    transform: rotate(45deg);
}


/* CÉLULA CIRCLE */
.cel.circle::after {
    content: "";
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: #fff;
}